.table-overlay > div > div:last-child{
	    right: 14px !important;

}

.chat__form{
	padding-bottom: 37px !important;
}
.blc_referral{
	margin-bottom: 25px;
}
.chat__send{
	padding: 0 10px;
}
.chat__input{
	text-transform: unset !important;
	width: 100%;
	padding-right: 15px;
}
.register__btn.btn--green:not(.disabled){
	background-color: #48d9a7;
	color: #fff;
}
.chat__txt{
	    overflow-wrap: break-word;

}

.chat__list > div:first-child > div:first-child {
	padding-right: 30px;
}
.chat__list > div:first-child > div:nth-child(3) {
	 right: 9px;
}
@media screen and (max-width: 420px){
	.chat__form{
		display: block !important;
	}	
	.chat__input{
		padding: 20px 10px  !important;
	}
	.chat__send{
		width: 100% !important;
		    margin-bottom: 10px !important;

	}
}

.index-page__table thead tr th:first-child{
	width: 305px;
}

.index-page__table thead tr th:nth-child(2){
	width: 115px;
}


