.popup__close{
    position: absolute;
    top: 4px;
    right: 26px;
    font-size: 44px;
    cursor: pointer;
}

.popup__confirm{
	padding: 5px 100px !important;
height: unset !important;
}

.social-login__twitter{
	background: #3484F9;
}